// Body
$body-bg: #f8fafc;
$color-accent: #f75e0a;
$color-accent-dark: #da5107;
$color-white: #ffffff;

$color-gray: #ebecf8;
$color-black: #131313;

$color-accent:#f75e0a;
$color-accent-dark: #da5107;
$color-white: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@use "sass:math";

@function abs($number ) {
    @return(math.abs($number))
}
