/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */


/* Gallery Section */

.temp{
    margin-top: 25%;
    margin-left: 70px;
}
.gallery{
    margin-bottom: 1rem;
}

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0 !important;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 100;
}



.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.temple-modal {
    --bs-modal-width: 75%;
}

.rs-rounded-0 div{
    border-radius: 0 !important;
}

.d\:after-none::after{
    display: none;
}
.btn-none{
    --bs-btn-color: #333;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #999;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #999;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: transparent;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
}
.dropdown-bg\:active-none:active{
   --bs-dropdown-link-active-color: #333; 
    text-decoration: none;
     --bs-dropdown-link-active-bg: none;
}




