.profile {
    color: #fff;
    background-color: orangered;

    &-image{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        padding: 2px;
        box-shadow: 2px 8px 8px #c9c9c9;
    }
}

.test-selector {
    background-color: aqua;
}

.wtu{
    min-height: 10rem;
}

.camera-orange path{
    fill: #f75e0a
}

.join{
    border: 2px solid #f75e0a;
    color: #f75e0a;
}

.join:hover{
    background-color: #f75e0a;
    color: #fff;
}
.group-img{
    border: 2px solid;
}
.tag-btns{
    background-color: #ebecf8;
}
.tag-btns:hover{
    background-color: #ebecf8;
}


.sticky {
    transition: all .3s linear;
    position: fixed;
    z-index: 999;
    width: -webkit-fill-available;
    background: #fff;
    top: 0;
    transform: rotateX(90deg) {
        origin: top;
    };
    
    // margin-top: -250px;
}

.sticky-profile-header .sticky {
    transform: rotateX(0);
    // animation: shaken-top 1s linear .35s;
}

.msg{
    background-color: #f75e0a;
    color: #fff
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
  }

  @include keyframes(shaken-top){
    0%{
        transform: rotateX( 0deg );
    }
    10%{
        transform: rotateX( -39deg );
    }
    25%{
        transform: rotateX( 27deg );
    }
    50%{
        transform: rotateX( -27deg );
    }
    75%{
        transform: rotateX( 15deg );
    }
    90%{
        transform: rotateX(-15deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}